* {
  margin: 0;
  padding: 0;
}

$color: #f9d18a;
$font-family: "Roboto", sans-serif;
$bg: #54545a;
header {
  display: flex;
  justify-content: space-around;
  // background-color: $bg;
  align-items: center;
  padding-top: 1rem;

  .hamburger-manu {
    display: none;
    .manu {
      display: none;
    }
  }

  div {
    img {
      width: 5.5rem;
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      text-transform: uppercase;

      li {
        list-style-type: none;
        margin-left: 4rem;
        font-family: $font-family;
        a {
          text-decoration: none;
          color: $bg;
          &:hover {
            color: $color;
          }
        }
      }
    }
  }
  div {
    ul {
      display: flex;
      font-size: 0.8rem;

      li {
        list-style-type: none;
        margin-left: 1rem;
        font-family: $font-family;
        a {
          text-decoration: none;
          color: $bg;
          &:hover {
            color: $color;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 1rem;

  .profile-picture {
    img {
      width: 31rem;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // padding-left: 3rem;

    .hello {
      padding-top: 10rem;

      &::before {
        font-family: "Font Awesome 5 free";
        content: "\f256";
        padding: 1rem;
        color: $color;
      }
    }
    p {
      font-size: larger;
      font-family: $font-family;
      color: $bg;
      span {
        font-weight: bolder;
      }
    }
    h1 {
      font-weight: bolder;
      font-size: 4rem;
      font-family: $font-family;
      color: $bg;
      span {
        color: $color;
      }
    }
  }
  button {
    background-color: $color;
    border: 0;
    padding: 0.5rem 1.5rem;
    margin-top: 2.5rem;
    color: whitesmoke;
    border-radius: 1px;
    width: fit-content;
    font-family: $font-family;
  }
  div {
    ol {
      display: flex;
      padding-top: 7rem;

      li {
        list-style-type: none;
        margin-left: 1.5rem;
      }
    }
    a {
      font-size: 2rem;
      margin-top: 7rem;
      color: $bg;

      &:hover {
        color: $color;
      }
    }
  }
}

section {
  background-color: #b6b6c2;
  display: flex;
  align-items: center;
  padding: 5rem;
  padding-bottom: 0;
  height: 100vh;
  margin-bottom: 3rem;

  div {
    img {
      width: 28rem;
      border: 0;
    }
  }
  div {
    padding: 2rem;
    padding-top: 0;

    p {
      font-size: larger;
      font-family: $font-family;
      color: $bg;
      padding: 1rem;
    }
    h2 {
      font-weight: bolder;
      font-size: 2rem;
      font-family: $font-family;
      color: whitesmoke;
      text-align: center;
    }
  }
}

footer {
  article {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .gridpattern {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  div {
    h3 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-family: $font-family;
      color: $bg;
    }
    p {
      margin-bottom: 0;
      font-family: $font-family;
      color: $bg;
    }
    a {
      font-size: 1.5rem;
      color: $color;
      text-decoration: none;
      font-family: $font-family;
    }
    .myprojects {
      font-size: 1rem;
    }
  }
}
